
// container
$container-left: 38rem;
$container-min-width: $container-left;
$container-width: $container-min-width;
$container-right: 16rem;


$gravatar: 36px;
$header-height: 4rem;

$module-bg: var(--module-bg);
$module-hover-bg: var(--module-hover-bg);
$module-hover-bg-light-3: var(--module-hover-bg-light-3);
$module-hover-bg-light-6: var(--module-hover-bg-light-6);

// color
$white: #fff;
$black: #000;
$green: green;
$blue: blue;
$red: red;

$red-light-1: var(--theme-red-light-1);


$border-color: var(--border-color);
$form-hover: #8391a5;
$code-bg: var(--code-bg);

//text
$text: var(--text);
$dividers: var(--text-light-4);
$disabled: var(--text-light-3);
$secondary: var(--text-dark-1);
$descript: var(--text-light-1);

// radius
$radius: 4px;

// padding
$br: 4px;
$xs-pad: .3rem;
$sm-pad: .5rem;
$normal-pad: 1.5rem;
$md-pad: 1.2rem;
$lg-pad: 1.5rem;
$mlg-pad: 2rem;
$xlg-pad: 3rem;

// font-sisze
$font-size-base: 14px;
$font-size-logo: 2rem;
$font-size-large: 1.142857rem;
$font-size-middle: .928571rem;
$font-size-small: .85rem;
